{% extends "base.html" %}

{% block conteudo %}
<div style="display: flex; justify-content: space-between; margin: 20px auto;">
<h3>Listagem de professores</h3>
<a type="button" class="btn btn-primary" href='/professores/inserir'>Inserir novo professor</a>
</div>

{% if mensagem == 'deletado' %}
<div class="alert alert-danger" id="sumir" role="alert">Deletado com sucesso!</div>
<meta http-equiv="refresh" content="1; URL='http://127.0.0.1:5000/professores'"/>
{% endif %}

{% if mensagem == 'alterado' %}
<div class="alert alert-warning" id="sumir" role="alert">Alterado com sucesso!</div>
<meta http-equiv="refresh" content="1; URL='http://127.0.0.1:5000/professores'"/>
{% endif %}

{% if mensagem == 'inserir' %}
<div class="alert alert-success" id="sumir" role="alert">Inserido com sucesso!</div>
<meta http-equiv="refresh" content="1; URL='http://127.0.0.1:5000/professores'"/>
{% endif %}

{% if lista|count > 0 %}

<form class="row g-3" method="GET" action="/professores">
    <div class="col-auto">
        <label>Nome:</label>
      </div>
    <div class="col-auto">
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Pesquisar</button>
    </div>
  </form>


<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    {% for i in lista %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.nome }}</td>
        <td>{{ i.email }}</td>
        <td><input type="button" class="btn btn-danger" value="Deletar" onclick=excluirItemSelecionado({{ i.id }})></td>
        <td><a href='/professores/alterar/{{ i.id }}' class="btn btn-warning">Alterar</a></td>
    </tr>
    {% endfor %}
</table>
<nav aria-label="...">
    <ul class="pagination pagination-sm">
        {% for p in range(paginas) %}
        {% if pagina_atual == (p+1) %}
            <li class="page-item active" aria-current="page">
        {% else %}
            <li class="page-item">
        {% endif %}
            <a class="page-link" href="/professores/pagina/{{ p + 1 }}">{{ p + 1 }}</a></li>
        {% endfor %}
    </ul>
  </nav>
{% else %}
<div class="alert alert-danger">Nenhum professor encontrada para esta busca.</div>

{% endif %}

<script>
    setTimeout(function() {
    $('#sumir').fadeOut('fast');
    }, 1000);


    function excluirItemSelecionado(id) {
        var x;
        var r = confirm("Deseja realmente excluir?");
        if (r == true) {
            window.location.href='http://127.0.0.1:5000/professores/deletar/'+id;
        }
        else {
            x = "Cancelar";
        }
    }
</script>
{% endblock %}